<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<settings>
		<setting name="jdbcTypeForNull" value="Null"/>
	</settings> -->
	<!-- 引入实体映射文件 -->
	<mappers>
		<mapper resource="cn/sz/lyr/pojo/Book.xml" />
		<mapper resource="cn/sz/lyr/pojo/Users.xml" />
		<mapper resource="cn/sz/lyr/pojo/Account.xml"/>
	</mappers>

</configuration>